<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")

    <!--[if lte IE 9]>
      <script src='@Url.Content("~/Scripts/html5shiv.js")'></script>
      <script src='@Url.Content("~/Scripts/respond.js")'></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript">
            window.location.href = '@Url.Content("~/ie8page.html")';
        </script>
    <![endif]-->


    <script type="text/javascript">
        
        $(function () {
            moment.locale('ru')
        })
    </script>
</head>
<body>
    <div id="loading"></div>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Данные по ЦТП</span>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='@Url.Action("Overview", "Ctp")' title="Просмотр последних показаний по всем объектам в виде таблицы"><span class="glyphicon glyphicon-globe"></span>&nbsp;Общий вид</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span>&nbsp;Объекты <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @Html.Action("CtpList","Ctp")
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    <script type="text/javascript">
        $(document).ajaxError(function (e, xhr) {
            if (xhr.status == 401)
                window.location.href = '@Url.Action("Login","Account")';
            else if (xhr.status == 403)
                alert("Недостаточно прав для совершения действия!");
        });
    </script>
   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/manual")
    
    @RenderSection("scripts", required: false)
</body>
</html>
