@model DapperAbstract.Address

@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archive</h2>

<div>
    <h4>Address</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BindingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BindingId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
