@model DapperAbstract.Address

@{
    ViewBag.Title = "Архив показаний по ЦТП";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href='@Url.Content("~/Content/bootstrap-datetimepicker.min.css")' />
}

<h3 class="text-center text-primary">Архив показаний по ЦТП</h3>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div title="@Model.BindingId" style="color:#3d3d3d; font-size:24px">@Html.ActionLink(Model.ObjectName, "DetailsAddress", "Ctp", new {id=Model.Id },null), <span class="text-muted" style="font-size:16px">@Model.Addres</span></div>
	<hr />
       
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">

        <div class="text-muted">Выбрать показания на дату:</div>
        <input name="HistoryDate" class="form-control" id="HistoryDate" autocomplete="off" type="text" placeholder="Дата" style="margin-bottom:10px" />
        
    </div>
</div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <label><input type="radio" name="dayPart" value="0" checked /> начало суток </label>&nbsp;(00:00 - 12:00)
            <br/>
            <label><input type="radio" name="dayPart" value="1" /> конец суток </label>&nbsp;(12:00 - 00:00)
        </div>
    </div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="HistoryData">
        <h4 class="text-center text-danger">Выберите дату, на которую желаете получить информацию</h4>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src='@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")'></script>
    <script type="text/javascript">

        function LoadHistory(BindingId,day,dayPart) {
            loading(true);

            $.ajax({
                url: '@Url.Action("GetArchiveData","Ctp")',
                type: 'GET',
                data: { 'BindingId': BindingId, 'Day': day, 'dayPart': dayPart },
                success: function (data, status) {
                    $("#HistoryData").html(data);
                    loading(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#HistoryData").html('Ошибка при получении данных!');
                    loading(false);
                }
            });

        }

        $(function () {
            $("#HistoryDate").datetimepicker(
            {
                locale: 'ru',
                defaultDate: false,
                format: 'DD.MM.YYYY'

            }).on('dp.change', function (e) {
                LoadHistory('@Model.BindingId', e.date.tz("Europe/Minsk").format("YYYY-MM-DDTHH:mm:ss"), $("input[name='dayPart']:checked").val()); 
            });

            $("input[name='dayPart']").change(function () {
                LoadHistory('@Model.BindingId', moment($("#HistoryDate").val(), 'DD.MM.YYYY').tz("Europe/Minsk").format("YYYY-MM-DDTHH:mm:ss"), $("input[name='dayPart']:checked").val());
            });
        });
    </script>

}