@model DapperAbstract.Address

@{
    ViewBag.Title = "Подробная информация по ЦТП";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="margin-bottom:10px;">
    <h2 class="text-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;@Model.ObjectName</h2>
    <p class="text-muted">@Model.Addres</p>
</div>


<div id="CtpDetails">
    <ctp bindingid="@Model.BindingId" datainterval="0.5" updatetimeout="30000"></ctp>

</div>


<template id="templ">
    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center text-muted flowtime">
                Обновление через:<span class="timetoupdate">{{updatetimeout/1000-currentSec}}</span> сек
            </div>
           </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"><h2 class="text-primary text-center">Последние полученные показания</h2></div>

        </div>
        <div class="well well-sm" style="background-color: #f8f9f4">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6">
                    <span class="param-title">Дата/время</span>
                    <span class="param-time">{{lastData.recvdate|dateformat('DD MMM, HH:mm:ss')}}</span>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2 col-md-offset-3 col-sm-4 col-xs-12">
                    <span class="param-title">
                        T<sub>под</sub>
                    </span>
                    <span class="param-value">    {{lastData.temp1|fixed(1)}} </span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <span class="param-title">
                        T<sub>обр</sub>
                    </span>
                    <span class="param-value">{{lastData.temp2|fixed(1)}}</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <span class="param-title">
                        T<sub>воз</sub>
                    </span>
                    <span class="param-value">{{lastData.temp3|fixed(1)}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 col-sm-3 col-xs-6">
                    <span class="param-title">
                        Давление 1
                    </span>
                    <span class="param-value">{{lastData.pressure1|fixed(2)}}</span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <span class="param-title">
                        Давление 2
                    </span>
                    <span class="param-value">{{lastData.pressure2|fixed(2)}}</span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <span class="param-title">
                        Давление 3
                    </span>
                    <span class="param-value">{{lastData.pressure3|fixed(2)}}</span>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <span class="param-title">
                        Давление 4
                    </span>
                    <span class="param-value">{{lastData.pressure4|fixed(2)}}</span>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2 col-md-offset-4 col-sm-4 col-sm-offset-2 col-xs-6">
                    <span class="param-title">
                        Насос
                    </span>
                    <span class="param-value" v-html="pumpStatusText(lastData.pumpstatus)"></span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <span class="param-title">
                        Клапан
                    </span>
                    <span class="param-value" v-html="valveStatusText(lastData.valvestatus)"></span>
                </div>

            </div>
            <div class="row" v-if="lastData.message">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="param-title">
                        Сообщение
                    </span>
                    <span class="error-msg-text">
                        {{lastData.message}}
                    </span>
                </div>
            </div>
        </div>
       


                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="text-primary text-center">Данные за последние {{datainterval*60}} мин</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="height: 300px; overflow-y: auto; border:1px solid lightgray; resize: vertical">


                            <table class="table table-condensed table-bordered table-hover" style="background-color:#fff; margin-bottom:5px">
                                <thead>
                                    <tr>
                                        <th title="Время получения данных">Время</th>
                                        <th title="Температура подачи">T<sub>под</sub></th>
                                        <th title="Температура обратки">T<sub>обр</sub></th>
                                        <th title="Температура воздуха">T<sub>воз</sub></th>
                                        <th title="Давление">P<sub>1</sub></th>
                                        <th title="Давление">P<sub>2</sub></th>
                                        <th title="Давление">P<sub>3</sub></th>
                                        <th title="Давление">P<sub>4</sub></th>
                                        <th title="Состояние насоса">Насос</th>
                                        <th title="Состояние клапана">Засл</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in parameters">
                                        <td title="Время получения данных">{{item.recvdate|dateformat('DD MMM, HH:mm:ss')}}</td>
                                        <td title="Температура подачи">{{item.temp1|fixed(1)}}</td>
                                        <td title="Температура обратки">{{item.temp2|fixed(1)}}</td>
                                        <td title="Температура воздуха">{{item.temp3|fixed(1)}}</td>
                                        <td title="Давление">{{item.pressure1|fixed(2)}}</td>
                                        <td title="Давление">{{item.pressure2|fixed(2)}}</td>
                                        <td title="Давление">{{item.pressure3|fixed(2)}}</td>
                                        <td title="Давление">{{item.pressure4|fixed(2)}}</td>
                                        <td title="Состояние насоса" v-html="pumpStatusText(item.pumpstatus)"></td>
                                        <td title="Состояние клапана" v-html="valveStatusText(item.valvestatus)"></td>
                                    </tr>
                                    <tr v-if="dataLength==0">
                                        <td colspan="10" class="text-muted text-center">информация отсутствует</td>
                                    </tr>

                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-primary text-center">Графики по последним данным</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <graph-double-line v-bind:points="pointsTemp" label1="Температура подачи, С" label2="Температура обратки, С"></graph-double-line>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <graph-line v-bind:points="points('pressure1')" label="Давление 1" color="rgba(11,11,255,0.04)" border-color="#428bca"></graph-line>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <graph-line v-bind:points="points('pressure2')" label="Давление 2" color="rgba(11,11,255,0.04)" border-color="#428bca"></graph-line>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <graph-line v-bind:points="points('pressure3')" label="Давление 3" color="rgba(11,11,255,0.04)" border-color="#428bca"></graph-line>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <graph-line v-bind:points="points('pressure4')" label="Давление 4" color="rgba(11,11,255,0.04)" border-color="#428bca"></graph-line>
            </div>
        </div>

        

            </div>
</template>



@section scripts{
<script src='@Url.Content("~/Scripts/vue.min.js")'></script>
<script src='@Url.Content("~/Scripts/Chart.min.js")'></script>
<script src='@Url.Content("~/Scripts/vuedata/ctpview.js?e="+@DateTime.Now.ToString("ddmmyy HH"))'></script>




<script type="text/javascript">
    $(function () {
        new Vue({
            el: "#CtpDetails"
        });
    })

</script>
}