@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<AddressCtpData>

<div class="jumbotron">
    <h2 class="text-primary"><span class="glyphicon glyphicon-list"></span>&nbsp;Общий вид</h2>
    <p class="text-muted">Последние данные, полученные с объектов</p>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Id)</th>
                <th>@Html.DisplayNameFor(x => x.BindingId)</th>
                <th>@Html.DisplayNameFor(x => x.ObjectName)</th>
                <th>@Html.DisplayNameFor(x => x.Addres)</th>
                <th>@Html.DisplayNameFor(x => x.RecvDate)</th>
                <th>@Html.DisplayNameFor(x => x.Temp1)</th>
                <th>@Html.DisplayNameFor(x => x.Temp3)</th>
                <th>@Html.DisplayNameFor(x => x.Temp2)</th>
                <th>@Html.DisplayNameFor(x => x.Pressure1)</th>
                <th>@Html.DisplayNameFor(x => x.Pressure2)</th>
                <th>@Html.DisplayNameFor(x => x.Pressure3)</th>
                <th>@Html.DisplayNameFor(x => x.Pressure4)</th>
                <th>@Html.DisplayNameFor(x => x.PumpStatus)</th>
                <th>@Html.DisplayNameFor(x => x.ValveStatus)</th>
                <th>@Html.DisplayNameFor(x => x.Message)</th>
            </tr>
            @foreach (AddressCtpData p in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x=>p.Id)</td>
                    <td>@Html.DisplayFor(x => p.BindingId)</td>
                    <td>@Html.DisplayFor(x => p.ObjectName)</td>
                    <td>@Html.DisplayFor(x => p.Addres)</td>
                    <td>@Html.DisplayFor(x => p.RecvDate)</td>
                    <td>@Html.DisplayFor(x => p.Temp1)</td>
                    <td>@Html.DisplayFor(x => p.Temp2)</td>
                    <td>@Html.DisplayFor(x => p.Temp3)</td>
                    <td>@Html.DisplayFor(x => p.Pressure1)</td>
                    <td>@Html.DisplayFor(x => p.Pressure2)</td>
                    <td>@Html.DisplayFor(x => p.Pressure3)</td>
                    <td>@Html.DisplayFor(x => p.Pressure4)</td>
                    <td>@Html.DisplayFor(x => p.PumpStatus)</td>
                    <td>@Html.DisplayFor(x => p.ValveStatus)</td>
                    <td>@Html.DisplayFor(x => p.Message)</td>
                </tr>
            }
        </table>
    </div>
</div>